@font-face {
    font-family: CustomFont;
    src: url('assets/ONESIZE.ttf');
    font-style: normal;
}

.fontPreload {
    font-family: 'CustomFont', "Courier New";
    position: absolute;
    left: -100px;
    font-size: 40px;
}

@media only screen and (max-width: 1920px) {
    canvas {
        height: 640px;
    }

    .game-area {
        margin: auto;
        width: 600px;
    }

    .bg-area img {
        width: 565px;
    }
}

@media only screen and (max-width: 1280px) {
    canvas {
        height: 600px;
    }

    .game-area {
        margin: auto;
        width: 500px;
    }

    .bg-area img {
        width: 530px;
    }
}

@media only screen and (max-width: 1024px) {
    canvas {
        height: 500px;
    }

    .game-area {
        margin: auto;
        width: 500px;
    }

    .bg-area img {
        width: 440px;
    }
}

@media only screen and (max-width: 600px) {
    canvas {
        height: 450px;
    }
    .bg-area img {
        width: 400px;
    }
}

body {
    background-color: #5f0d11;
}
